.competences i {
        font-size: 50px;
        padding: 3%;
        position: relative;
        transition: all 0.3s ease-in-out;


        &:hover {
            transform: scale(1.5);
            animation: rotate 1s ease-in-out 1;
        }
}

@keyframes rotate {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg) scale(1.5);
    }
  }